<!-- <h1>{{this.title}}</h1>

<div class="container">

    <div>
      <label for="txtMail" id="lblMail"></label>
      <input [(ngModel)] = "input" placeholder="Ingrese Edad">
    </div>
    <div>
      <button (click)="onSubmit('sdadasdsa')">Enviar</button>
    </div>
</div>


<input [(ngModel)] = "numero1" [type]="numero1"> NgModel perteneciente al modulo de  Forms
<input [(ngModel)] = "numero2" [type]="numero2">

<button (click)="onSumar()">Sumar</button>

<h2>{{this.numero3}}</h2> -->



<!-- <img [src] = "dsadas"> le pegas al atributo que contenga la imagen -->
<!-- <app-ejercicio-edad></app-ejercicio-edad>  EJERCICIO 1 SUMAR EDAD-->



<!-- IMPLEMENTACION RUTEO -->
<main>
  <router-outlet></router-outlet>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

</main>

